<!DOCTYPE html>
<html>

<head>
    <title>Sklep internetowy</title>
    <link rel="stylesheet" type="text/css" href="styles/my_styles.css">
</head>

<body>
    <div>Wprowadź swoje dane logowania</div>
    <div>
        <form id="log_form">
            Nazwa użytkownika: <input name="name"><br>
            Hasło: <input name="paswd" type="password" value="FakePSW"><br>
        </form>
        <input type="submit" name="akceptacjaformularza" value="Zaloguj się"/>
    </div>

</body>

</html>