<!DOCTYPE html>
<html>

<head>
    <title>EkoWarzywko - Formularz produktu</title>
    <link rel="stylesheet" type="text/css" href="styles/my_styles.css">
</head>

<body>
    <div>Wprowadź swoje dane w celu utworzenia produktu </div>
    <div>
        <form id="product_form">
            Nazwa produktu: <input name="name"><br>
            Zdjęcie: <input name="img" type="file"><br>
            Cena: <input name="price" type="number"><br>
            Opis: <input name="desc" type="text"><br>
            Tagi: <input name="tags"><br>
        </form>
        <button type="submit" form="product_form" value="Submit">Utwórz konto</button>
    </div>

</body>

</html>