<!DOCTYPE html>
<html>

<head>
    <title>EkoWarzywko - Rejestracja</title>
    <link rel="stylesheet" type="text/css" href="styles/my_styles.css">
</head>

<body>
    <div>Wprowadź swoje dane w celu utworzenia konta </div>
    <div>
        <form id="reg_form">
            Nazwa użytkownika: <input name="name"><br>
            Imię: <input name="firstname"><br>
            Nazwisko: <input name="surname"><br>
            Email: <input name="email"><br>
            Hasło: <input name="paswd" type="password"><br>
            Powtórz hasło: <input name="paswda" type="password"><br>
        </form>
        <button type="submit" form="reg_form" value="Submit">Utwórz konto</button>
    </div>

</body>

</html>